In [1]:
%matplotlib inline
import pandas as pd

from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [2]:
titles = pd.read_csv('titles.csv')
cast = pd.read_csv('cast.csv')
titles.head(10)

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008
5            Tight Spot  1955
6        Chocolate (II)  2011
7      Wang de Shengyan  2012
8       Bao dao mei ren  1956
9   A Man Called Nereus  2012

In [3]:
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [4]:
print(titles.shape)
print("No of NaN values in Title Column: ",titles.title.isnull().sum())

(244914, 2)
No of NaN values in Title Column:  0

### How many movies are listed in the titles dataframe?

In [5]:
# Since No NaN values are present as found in above line
print("No of Movies listed in dataframe are: ",titles.title.count())

No of Movies listed in dataframe are:  244914

### What are the earliest two films listed in the titles dataframe?

In [6]:
titles_sorted = titles.sort_values('year',ascending=True,ignore_index=True)
print ("Two Earliest films are as below: \n",titles_sorted.iloc[0:2])

Two Earliest films are as below:
                 title  year
0          Miss Jerry  1894
1  The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [7]:
print("No of Movies having title Hamlet are: ",titles[titles["title"]== "Hamlet"]["title"].count())

No of Movies having title Hamlet are:  20

### How many movies are titled "North by Northwest"?

In [8]:
print("No of Movies having title Hamlet are: ",titles[titles["title"]== "North by Northwest"]["title"].count())

No of Movies having title Hamlet are:  1

### When was the first movie titled "Hamlet" made?

In [9]:
print("Year in which first movie titled Hamlet was made in : ",
      titles_sorted[titles_sorted["title"]== "Hamlet"]["year"].iloc[0])

Year in which first movie titled Hamlet was made in :  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [10]:
print("List all of the  movies from earliest to most recent:\n",
      titles_sorted[titles_sorted["title"]== "Treasure Island"]["year"])

List all of the  movies from earliest to most recent:
 5517      1918
7962      1920
19991     1934
35662     1950
70280     1972
72265     1973
97241     1985
128205    1999
Name: year, dtype: int64

### How many movies were made in the year 1950?

In [11]:
print("No of Movies made in 1950 : ",titles[titles["year"]== 1950]["title"].count())

No of Movies made in 1950 :  1113

### How many movies were made in the year 1960?

In [12]:
print("No of Movies made in 1950 : ",titles[titles["year"]== 1960]["title"].count())

No of Movies made in 1950 :  1549

### How many movies were made from 1950 through 1959?

In [13]:
print("No of Movies made from 1950 through 1959 : "
      ,titles_sorted[(titles_sorted["year"] > 1949) & (titles_sorted["year"] < 1960)]["title"].count())

No of Movies made from 1950 through 1959 :  12934

### In what years has a movie titled "Batman" been released?

In [14]:
print("List all of the  movies titled Batman:\n",
      titles_sorted[titles_sorted["title"]== "Batman"]["year"])

List all of the  movies titled Batman:
 29485     1943
105004    1989
Name: year, dtype: int64

### How many roles were there in the movie "Inception"?

In [15]:
print("No of roles in Inception Movie : ",cast[cast["title"]== "Inception"]["n"].shape)

No of roles in Inception Movie :  (78,)

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [16]:
print("No of roles in Inception Movie which are not ranked : "
      ,cast[cast["title"]== "Inception"]["n"].isnull().sum())

No of roles in Inception Movie which are not ranked :  27

### But how many roles in the movie "Inception" did receive an "n" value?

In [17]:
print("No of roles in Inception Movie which are not ranked : "
      ,cast[cast["title"]== "Inception"]["n"].notnull().sum())

No of roles in Inception Movie which are not ranked :  51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [18]:
df_NbN = cast[cast["title"]== "North by Northwest"].sort_values('n',ascending=True,ignore_index=True)

In [19]:
df_NbN.dropna(inplace=True)
print ("Cast who got ranked in ascending order are :\n",df_NbN.name)

Cast who got ranked in ascending order are :
 0               Cary Grant
1          Eva Marie Saint
2              James Mason
3      Jessie Royce Landis
4           Leo G. Carroll
5     Josephine Hutchinson
6              Philip Ober
7            Martin Landau
8            Adam Williams
9             Edward Platt
10       Robert Ellenstein
11            Les Tremayne
12         Philip Coolidge
13           Patrick McVey
14            Edward Binns
15               Ken Lynch
Name: name, dtype: object

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [20]:
df_sl = cast[cast["title"]== "Sleuth"].sort_values('n',ascending=True,ignore_index=True)

In [21]:
print ("List of entire cast for 1972 film Sleuth is: \n",df_sl[df_sl["year"]==1972].name)

List of entire cast for 1972 film Sleuth is:
 1      Laurence Olivier
2         Michael Caine
4        Alec Cawthorne
6    John (II) Matthews
7    Eve (III) Channing
8          Teddy Martin
Name: name, dtype: object

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [22]:
print ("List of entire cast for 1972 film Sleuth is: \n",df_sl[df_sl["year"]==2007].name)

List of entire cast for 1972 film Sleuth is:
 0           Michael Caine
3                Jude Law
5           Harold Pinter
9         Kenneth Branagh
10    Alec (II) Cawthorne
11      Eve (II) Channing
12      Carmel O'Sullivan
Name: name, dtype: object

### How many roles were credited in the silent 1921 version of Hamlet?

In [23]:
df_ham = cast[cast["title"]== "Hamlet"].sort_values('n',ascending=True,ignore_index=True)

In [24]:
print ("No of roles credited in 1921 version of Hamlet : ",df_ham[df_ham["year"]==1921].name.count())

No of roles credited in 1921 version of Hamlet :  9

### How many roles were credited in Branaghâ€™s 1996 Hamlet?

In [25]:
print ("No of roles credited in 1996 version of Hamlet : ",df_ham[df_ham["year"]==1996].name.count())

No of roles credited in 1996 version of Hamlet :  54

### How many "Hamlet" roles have been listed in all film credits through history?

In [26]:
print ("No of Roles in all Hamlet movies are : ",len(df_ham.name.unique()))

No of Roles in all Hamlet movies are :  312

### How many people have played an "Ophelia"?

In [27]:
print ("No of people who played Ophelia character are : ",
       len(cast[cast["character"]== "Ophelia"]["name"].unique()))

No of people who played Ophelia character are :  115

### How many people have played a role called "The Dude"?

In [28]:
print ("No of people who played The Dude character are : ",
       len(cast[cast["character"]== "The Dude"]["name"].unique()))

No of people who played The Dude character are :  19

### How many people have played a role called "The Stranger"?

In [29]:
print ("No of people who played The Stranger character are : ",
       len(cast[cast["character"]== "The Stranger"]["name"].unique()))

No of people who played The Stranger character are :  202

### How many roles has Sidney Poitier played throughout his career?

In [30]:
print ("No of roles played by Sidney Poitier throughout his career : ",
       len(cast[cast["name"]== "Sidney Poitier"]["character"].unique()))

No of roles played by Sidney Poitier throughout his career :  41

### How many roles has Judi Dench played?

In [31]:
print ("No of roles played by Judi Dench throughout his career : ",
       len(cast[cast["name"]== "Judi Dench"]["character"].unique()))

No of roles played by Judi Dench throughout his career :  46

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [32]:
print("List of supporting roles having n=2 in 1940s are:\n"
      ,cast[(cast["year"] > 1939) & 
     (cast["year"] < 1950) & (cast["name"] == "Cary Grant") & 
     (cast["n"] == 2.0)].sort_values('year',ascending=True,ignore_index=True).character)

List of supporting roles having n=2 in 1940s are:
 0     Nick Arden
1    Roger Adams
Name: character, dtype: object

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [33]:
print("List of leading roles having n=1 in 1940s are:\n"
      ,cast[(cast["year"] > 1939) & 
     (cast["year"] < 1950) & (cast["name"] == "Cary Grant") & 
     (cast["n"] == 1.0)].sort_values('year',ascending=True,ignore_index=True).character)

List of leading roles having n=1 in 1940s are:
 0                              Matt Howard
1                             Walter Burns
2                       C. K. Dexter Haven
3                         Johnnie Aysgarth
4                             Leopold Dilg
5                    Patrick 'Pat' O'Toole
6                            Capt. Cassidy
7     Joe Adams -posing as Joe Bascopolous
8                              Jerry Flynn
9                        Mortimer Brewster
10                              Ernie Mott
11                             Cole Porter
12                                  Devlin
13                             Dick Nugent
14                                  Dudley
15                           Jim Blandings
16                       Dr. Madison Brown
17                   Captain Henri Rochard
Name: character, dtype: object

### How many roles were available for actors in the 1950s?

In [34]:
print("No of roles which were available in 1950s are: "
      ,len(cast[(cast["year"] > 1949) & 
     (cast["year"] < 1960) ].n))

No of roles which were available in 1950s are:  215471

### How many roles were available for actresses in the 1950s?

In [35]:
print("No of roles which were available in 1950s for actresses are: "
      ,len(cast[(cast["year"] > 1949) & 
     (cast["year"] < 1960) & (cast["type"] == "actress" )].n))

No of roles which were available in 1950s for actresses are:  57733

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [36]:
print("List of leading roles having till 1980 are: "
      ,cast[(cast["year"] < 1980)&(cast["n"] == 1.0)].sort_values('year',ascending=True,ignore_index=True).n.count())

List of leading roles having till 1980 are:  63957

### How many non-leading roles were available through from the beginning of film history through 1980?

In [37]:
print("List of non leading roles having till 1980 are: "
      ,cast[(cast["year"] < 1980)&(cast["n"] != 1.0)].sort_values('year',ascending=True,ignore_index=True).n.count())

List of non leading roles having till 1980 are:  651497

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [38]:
print("List of roles till 1980 with no numeric rank are: ",cast[(cast["year"] < 1980)].n.isnull().sum())

List of roles till 1980 with no numeric rank are:  443881